body {
    background-color: #ececec; 
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

/*Game intro*/

.game-intro {
    background-color: #9fd3c7;
    box-sizing: border-box;
    border: 15px solid #142d4c;
    width: 85%;
    height: 400px;
    overflow: visible;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-intro-txt {
    padding: 40px;
}

.start-game-button {
    box-sizing: border-box;
    border: 5px solid #142d4c;
    width: fit-content;
    height: fit-content;
    font-size: 140%;
    margin-top: 50px;
    padding: 5px 5px;
}

/*Heading*/

.heading {
    text-align: center;
    font-size: 250%;
    padding-top: 10px;
}
/*Game Box*/

.game-area {
    background-color: #9fd3c7;
    box-sizing: border-box;
    border: 15px solid #142d4c;
    width: 85%;
    height: 100%;
    overflow: visible;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.head-game-area {
    text-align: center;
    font-size: 150%;
}

.question-area {
    padding: 0px 40px;
    
    
}
.wiki-article {
    font-size: 120%;
    font-style: italic;
    
}

.answer-area {
    display: inline-block;
}

.answers {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 40px;
    border-style: solid;
    font-weight: bold;
    background-color: #ececec;
}

/*Submit button*/

.submit-button {
    display: flexbox;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    font-size: 120%;
    font-weight: bold;
}

/*Counter*/
#counter {
    font-size: 120%;
}

/*End game*/

.game-end {
    background-color: #9fd3c7;
    box-sizing: border-box;
    border: 15px solid #142d4c;
    width: 85%;
    height: 400px;
    overflow: visible;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-end-txt {
    padding: 40px;
}